.add-to-cart {
  width: 8rem;
  height: 3rem;
  background: turquoise;
  color: white;
  font-size: medium;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: transparent;
  border-radius: 5px;
  cursor: pointer;
}

.add-to-cart:hover {
  opacity: 0.7;
}
