.form {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.form label {
  font-size: 12px;
}

.form input {
  margin-bottom: 5px;
}

.form button {
  background-color: #223366;
  color: white;
  border: none;
  height: 30px;
}
