.close {
  width: 4rem;
  height: 2rem;
  background: white;
  border: 1px rgb(97, 202, 236) solid;
  border-radius: 5px;
  padding: 0.25rem;
  color: rgb(97, 202, 236);
  margin: 0.5rem;
  cursor: pointer;
}

.close:hover {
  background-color: rgb(97, 202, 236);
  color: white;
}

.checkout {
  width: 4rem;
  height: 2rem;
  background: green;
  border: transparent;
  border-radius: 5px;
  padding: 0.25rem;
  color: white;
  margin: 0.5rem;
  cursor: pointer;
}

.checkout:hover {
  border: 1px solid green;
  color: green;
  background: white;
}

.total {
  float: right;
  font-weight: bold;
  font-size: 3rem;
}

.cart-footer {
  float: right;
}
