.item {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid black;
  padding: 1rem 0;
}

.input {
  width: 50px;
  padding-left: 1rem;
  margin-bottom: 1rem;
  height: 2.5rem;
  line-height: 1.5;
}

.input::-webkit-inner-spin-button {
  height: 1.5rem;
}

.error {
  color: red;
  width: 100%;
  text-align: center;
}
