.cart {
  padding: 0.5em 1em 0.5em 1em;
  border-radius: 25px;
  width: 10rem;
  background: lightGrey;
  margin: 2rem;
  font-size: 1.5rem;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  right: 0;
}

.cart span {
  margin-left: 0.5rem;
}

.badge-empty {
  background-color: turquoise;
  color: white;
  padding: 0.25rem 1rem;
  border-radius: 25px;
  margin-left: 1rem;
  font-weight: bold;
}

.badge-full {
  background-color: orangered;
  color: white;
  padding: 0.25rem 1rem;
  border-radius: 25px;
  margin-left: 1rem;
  font-weight: bold;
}

.button:hover .badge,
.button:active .badge {
  background-color: #92320c;
}

.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

@media screen and (max-width: 900px) {
  .cart {
    top: 0;
    right: 25%;
  }
}
