.cart {
  padding: 0.5em 1em 0.5em 1em;
  border-radius: 25px;
  width: 10rem;
  background: lightGrey;
  margin: 2rem;
  font-size: 1.5rem;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  position: fixed;
  right: 0;
}

.cart span {
  margin-left: 0.5rem;
}

.badge {
  background-color: turquoise;
  color: white;
  padding: 0.25rem 1rem;
  border-radius: 25px;
  margin-left: 1rem;
  font-weight: bold;
}

.button:hover .badge,
.button:active .badge {
  background-color: #92320c;
}

@media screen and (max-width: 900px) {
  .cart {
    top: 0;
    right: 25%;
  }
}
