.main-image {
  width: fit-content;
  height: fit-content;
  display: block;
  margin: auto;
  opacity: 0.9;
  margin-top: 1em;
  margin-bottom: 10px;
  padding: 5px;
}

/* part of hack to make box-shadow work with next/image */
.main-image span {
  overflow: visible !important;
}

/* part of hack to make box-shadow work with next/image */
.main-image img {
  box-shadow: 10px 10px 5px #aaa;
  border-radius: 10px;
}
