.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form input {
  width: 50%;
}

.add-to-cart {
  width: 8rem;
  height: 3rem;
  background: turquoise;
  color: white;
  font-size: medium;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: transparent;
  border-radius: 5px;
  cursor: pointer;
  margin: 1rem;
}

.add-to-cart:hover {
  opacity: 0.7;
}

.shaving-product-price {
  font-weight: bold;
  margin-left: 1em;
}
