.list-item {
  display: inline-block;
  width: 22%;
}

.list-item-caption {
  margin: auto;
  font-size: 2em;
  margin-top: 0.5em;
  width: 70%;
  color: #506183;
}

.list-item-caption a {
  text-decoration: none;
}

.list-item-caption a:hover {
  font-weight: bold;
}

.list-item img:hover {
  opacity: 0.7;
}

@media screen and (max-width: 830px) {
  .list-item {
    width: 90%;
  }
}
