.main {
  width: 50%;
  margin: 3rem auto 0 auto;
}

.main p {
  margin-bottom: 1rem;
}

.main section {
  margin-bottom: 2rem;
}

.main a {
  color: blue;
}

.heading {
  font-size: 3rem;
}

.subheading {
  text-decoration: underline;
  font-weight: bold;
  display: block;
  margin-bottom: 1rem;
}
