.main {
  width: 50%;
  margin: auto;
  overflow-x: hidden;
}

.blurb {
  width: 100%;
  font-size: 1.25rem;
  line-height: 125%;
  margin: 3rem auto;
  font-weight: 100;
  text-align: justify;
}

.bold-underline {
  font-weight: bold;
  text-decoration: underline;
}

.ingredients {
  width: 100%;
  font-size: 1.25rem;
  line-height: 125%;
  margin: 3rem auto;
  font-weight: 100;
}

@media screen and (max-width: 1000px) {
  .main {
    width: 100%;
    margin: auto;
    padding: 1em;
  }
}
