html,
body {
  padding: 0;
  margin: 0;
  font-family: "Vollkorn SC", serif, Copperplate;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0;
}

* {
  box-sizing: border-box;
}

.main-image {
  display: block;
  margin: auto;
  box-shadow: 10px 10px 10px 5px #aaa;
  opacity: 0.9;
  margin-top: 1em;
  margin-bottom: 10px;
  border-radius: 5px;
}
